priority -50

snippet 16r "semiquaver rests"
%r16    r    r    r    r16    r    r    r    r16    r    r    r    r16    r    r    r   
endsnippet

snippet 8r "quaverrests"
%r8    r    r    r    r8    r    r    r
endsnippet

# vim:ft=snippets:
